body {
  background-color: #e9e9e9;
}

div.principle {
  margin-bottom: 80px;
}

.content {
  margin: auto;
  width: 75%;
  text-align: left;
}

.header {
  color: #383838;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #383838;
}

.menu {
  margin-bottom: 30px;
}

a {
  color: #924040;
}

a:hover {
   color:#ffafaf;
   ;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 1.5rem;
  color: #924040;
} 

thead {
  background-color: #050047;
}

thead tr th {
  color: #ffffff;
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

